/* body */
body {
    background-color: #222222;
    color: #dddddd;
}

/* links */
.link {
    color: #0099ff;
}

.link:hover {
    color: #22aaff;
}

/* buttons */
button {
    background-color: #222222;
    border: 1px solid #666666;
    color: #dddddd;
}

button:hover {
    background-color: #333333;
}

button:disabled {
    background-color: #333333;
}

/* history panel */
#history_panel {
    border-bottom: 1px solid #666666;
}

/* resource counters */
.counter_break {
    border: solid #666666 0.5px;
}

.before {
    border: solid #666666 1px;
}

div.before:before {
    background: #222222;
}

.counter_header {
    border: none;
}

/* resource buttons */
#river_troll_text {
    background: #222222;
}

.situation:disabled {
    background-color: #222222;
}

/* about/settings popup */
#overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#popup {
    background-color: #222222;
    color: #dddddd;
    border: solid #666666 1px;
}

.divider {
    border: solid #666666 0.5px;
}