/* Center menu items via parent div */
#main-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner image */
img {
    width: 400px;
    height: 200px;
    /* Optimize image display, remove anti-aliasing */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* Title */
h1 {
    font-size: 30pt !important;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}

/* Line break */
.line-break {
    width: 120%;
    margin-left: -10%;
}

/* Button styles */
button {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}