/* Global font color */
* {
    color: #cccccc;
}

/* Blue backgrounds */
body, .section::before, .worm-spawn {
    background-color: #111125;
}

/* Light blue border, blue background */
button, .modal-box {
    border: 1px solid #444465;
    background-color: #111125;
}

/* Button colors */
button:hover {
    background-color: #222245;
}

button:disabled {
    background-color: #111125;
}

/* Line break colors */
.line-break, .counter-break {
    border: 0.5px solid #444465;
}

/* Links */
a, .link {
    color: #0099ff;
}

a:hover, .link:hover {
    color: #00ccff;
}

/* Message history */
#message-history {
    border-bottom: 1px solid #444465;
}

/* Section headers */
.section {
    border: 1px solid #444465;
}

/* Tooltips */
.tooltip, .bait-tooltip, .tackle-tooltip {
    background: #111125;
    border: 1px solid #444465;
}