/* Global font color */
* {
    color: #000000;
}

/* White backgrounds */
body .section::before, .worm-spawn {
    background-color: #ffffff;
}

/* Black border, white background */
button, .modal-box {
    border: 1px solid #000000;
    background-color: #ffffff;
}

/* Button colors */
button:hover {
    background-color: #dddddd;
}

button:disabled {
    background-color: #eeeeee;
}

/* Line break colors */
.line-break {
    border: 0.5px solid #000000;
}

.counter-break {
    border: 0.5px solid #aaaaaa;
}

/* Links */
a, .link {
    color: #0066ff;
}

a:hover, .link:hover {
    color: #00aaee;
}

/* Message history */
#message-history {
    border-bottom: 1px solid #000000;
}

/* Section headers */
.section {
    border: 1px solid #000000;
}

/* Tooltips */
.tooltip, .bait-tooltip, .tackle-tooltip {
    background: #ffffff;
    border: 1px solid #000000;
}