#messenger {
    width: 100%;
}

#messenger-history-2 {
    opacity: 0.9;
}

#messenger-history-3 {
    opacity: 0.8;
}

#messenger-history-4 {
    opacity: 0.7;
}

#messenger-history-5 {
    opacity: 0.6;
}