/* Worm spawning area */
#worm-grid {
    position: relative;
    flex-wrap: wrap;
    width: 300px;
    left: 90px;
    top: -350px;
}

/* Containers used for worm spawning */
.grid-cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    pointer-events: auto;
    align-items: center;
    justify-content: center;
}

/* The worm itself */
.worm-spawn {
    cursor: pointer;
    font-size: 4pt;
    font-weight: bold;
}