/* Resource counters */
#fish-counters, #misc-counters, #resource-counters, #resource-buttons {
    display: inline-block;
    vertical-align: top;
}

.counter-header {
    font-size: 10pt;
    padding: 0px 20px;
    margin-bottom: 5px;
}

.counter {
    padding: 0px 7px;
}

/* The maximum number of the counter */
.counter-max {
    opacity: 0.5;
}

/* Sections */
.section {
    margin: 0px 15px 20px 0px;
    padding: 3px;
    width: 168px;
}

/* Create text on-top of the section as a header */
.section::before {
    position: absolute;
    content: attr(section-header);
    margin: -17px 0px 0px 5px;
    padding: 0px 2px;
}

/* Line breaks */
.counter-break {
    margin: 3px 0px 0px -10%;
    width: 120%;
}

/* Area selector */
#area-selector {
    float: right;
}

#lake-selector-button {
    margin-top: 5px;
}

/* Top counters */
#money-counter, #time-played {
    display: inline-block;
}

#time-played {
    float: right;
}

/* Total fish counter */
#total-fish-caught {
    margin-bottom: 15px;
}

/* Art */
#area-art {
    position: absolute;
    display: inline-block;
    white-space: pre;
    pointer-events: none;
    width: 525px;
    height: 525px;
}