/* Shop art */
.art {
    position: relative;
    display: inline;
    font-size: 10pt;
}

/* Desk items */
#catalog-holder {
    display: block;
    top: -278px;
    left: 16px;
    width: 40px;
    height: 58px;
}

#license-holder {
    display: block;
    left: 75px;
    top: -315px;
    width: 50px;
    height: 30px;
}

#license-decor {
    left: -36px;
    top: -1px;
    width: 0px;
    height: 0px;
}

#contract-holder {
    display: block;
    font-size: 8pt;
    left: 150px;
    top: -350px;
    width: 50px;
    height: 60px;
}

#contract-decor {
    font-size: 8pt;
    left: -41px;
    top: -15px;
    width: 0px;
    height: 0px;
}

/* Clickable holders */
#catalog-holder, #license-holder, #contract-holder, 
    #bait-item-holder, #tackle-item-holder {
    pointer-events: auto;
}

#bait-item-holder, #tackle-item-holder {
    display: flex;
    justify-content: space-evenly;
    font-size: 8pt;
    top: -680px;
    left: 24px;
    width: 436px;
}

#tackle-item-holder {
    flex-wrap: wrap;
    top: -642px;
    width: 261px;
    height: 130px;
}

/* Shop items */
.shop-item {
    cursor: pointer;
}

.shop-item:hover {
    font-weight: bold;
}

/* Bait */
.bait-decor {
    position: absolute;
    font-size: 6pt;
    font-weight: bold;
    margin-top: 27px;
}

#guppies-decor {
    font-size: 8pt;
    margin-top: 30px;
    font-weight: 100;
}

#mussels-decor, #ground_fish-decor {
    font-size: 7pt;
    margin-top: 21px;
}

/* Tackle */
.tackle-hook {
    width: 87px;
}

.tackle-decor {
    position: absolute;
    font-size: 10pt;
    margin-top: -2px;
}

#fly_tackle-decor {
    margin: -4px 0px 0px -2px;
}

/* Tooltips */
.tooltip, .bait-tooltip, .tackle-tooltip {
    display: none;
    position: absolute;
    text-align: center;
    font-weight: normal;
    padding: 3px 5px;
    margin-top: 60px;
    cursor: default;
}

#license-tooltip {
    margin-top: 35px;
}

#contract-tooltip {
    margin-top: 43px;
}

.tooltip {
    font-size: 8pt;
}

.tackle-tooltip {
    margin-top: 47px;
}