/* Shop art */
.art {
    position: relative;
    display: inline;
    font-size: 10pt;
}

/* Clickable holders */ 
#bait-item-holder, #tackle-item-holder, #shopkeeper-holder,
    #catalog-holder, #license-holder, #contract-holder,
    #chest-holder, #door-holder {
    pointer-events: auto;
}

#bait-item-holder, #tackle-item-holder {
    display: flex;
    justify-content: space-evenly;
    font-size: 8pt;
    top: -530px;
    left: 24px;
    width: 436px;
}

#tackle-item-holder {
    flex-wrap: wrap;
    top: -505px;
    left: 18px;
    width: 264px;
    height: 130px;
}

/* Shop items */
.shop-item {
    cursor: pointer;
}

/* Bait */
.bait-decor {
    position: absolute;
    font-size: 6pt;
    font-weight: bold;
    margin-top: 27px;
}

#guppies-decor {
    font-size: 8pt;
    margin-top: 30px;
    font-weight: 100;
}

#mussels-decor, #ground_fish-decor {
    font-size: 7pt;
    margin-top: 21px;
}

/* Tackle */
.tackle-item {
    width: 88px;
    height: 45px;
}

.tackle-decor {
    position: absolute;
    font-size: 10pt;
    margin-top: -2px;
}

#fly_tackle-decor {
    margin: -4px 0px 0px -2px;
}

/* Shopkeeper */
#shopkeeper-holder {
    display: block;
    font-size: 7pt;
    font-weight: bold;
    top: -537px;
    left: 110px;
    width: 90px;
    height: 100px;
}

/* Desk items */
#catalog-holder {
    display: block;
    top: -560px;
    left: 16px;
    width: 40px;
    height: 58px;
}

#license-holder {
    display: block;
    left: 75px;
    top: -598px;
    width: 50px;
    height: 30px;
}

#license-decor {
    left: -36px;
    top: 14px;
    width: 0px;
    height: 0px;
}

#contract-holder {
    display: block;
    font-size: 8pt;
    left: 150px;
    top: -632px;
    width: 50px;
    height: 60px;
}

#contract-decor {
    font-size: 8pt;
    left: -41px;
    top: 11px;
    width: 0px;
    height: 0px;
}

#chest-holder {
    display: block;
    left: 210px;
    top: -716px;
    width: 40px;
    height: 50px;
}

#door-holder {
    font-size: 11pt;
    display: block;
    top: -871px;
    left: 334px;
    width: 180px;
    height: 295px;
}

#door-decor {
    top: 160px;
    left: -110px;
    width: 0px;
    height: 0px;
}

/* Tooltips */
.tooltip, .bait-tooltip, .tackle-tooltip {
    display: none;
    position: absolute;
    text-align: center;
    padding: 3px 5px;
    margin-top: 60px;
    cursor: default;
    z-index: 1;
}

#shopkeeper-tooltip {
    font-weight: normal;
    margin-top: 104px;
}

#license-tooltip {
    margin-top: 40px;
}

#contract-tooltip {
    margin-top: 59px;
}

#chest-tooltip {
    margin-top: 50px;
}

.tooltip {
    font-size: 8pt;
}

.tackle-tooltip {
    margin-top: 47px;
}