/* body */
body {
    background-color: #222222;
    color: #dddddd;
}

/* links */
a {
    color: #0099ff;
}

a:hover {
    color: #22aaff;
}

/* buttons */
button {
    background-color: #222222;
    border: 1px solid #666666;
    color: #dddddd;
}

button:hover {
    background-color: #333333;
}

button:disabled {
    background-color: #333333;
}

/* history panel */
#history_panel {
    border-bottom: 1px solid #666666;
}

/* resource counters */
.counter_break {
    border: solid #666666 0.5px;
}

.before {
    border: solid #666666 1px;
}

div.before:before {
    background: #222222;
}

/* about popup */
#overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#about {
    background-color: #222222;
    color: #dddddd;
    border: solid #666666 1px;
}