/* links */
.link {
    color: #0066ff;
}

.link:hover {
    color: #4ab7ff;
}

/* buttons */
button {
    background-color: white;
    border: 1px solid black;
    color: black;
}

button:hover {
    background-color: #eeeeee;
}

button:disabled {
    background-color: #eeeeee;
}

/* history panel */
#history_panel {
    border-bottom: 1px solid black;
}

/* resource counters */
.counter_break {
    border: solid #aaaaaa 0.5px;
}

.before {
    border: solid black 1px;
}

div.before:before {
    background: white;
}

.counter_header {
    border: none;
}

/* resource buttons */
#river_troll_text {
    background: white;
}

.situation:disabled {
    color: black;
    background-color: white;
}

/* about/settings popup */
#overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#popup, #catalog {
    background-color: white;
    color: black;
    border: solid black 1px;
}

.divider, .page_divider, .table_divider {
    border: solid black 0.5px;
}

.fish_table_data {
    border-top: solid black 1px;
}

.fish_table_data:first-child, .fish_table_header {
    border-right: solid black 1px;
}

/* worm game */
.worm_spawn {
    background-color: white;
}

/* enterprises */
#news_divider {
    border: solid 0.5px black;
}

#office_desk, #office_chair, #office_computer {
    background-color: white;
}

/* games */
#earth_defender_section, #tutorial_moving_alien, #tutorial_shooting_alien {
    border: 1px solid black;
}

/* stocks */
#portfolio_divider, #stocks_divider {
    border: 0.5px solid black;
}

#graph_vertical_divider, #graph_horizontal_divider {
    border: 0.5px solid black;
}

.stocks_table_header:not(:first-child), .invested_table_header:not(:first-child) {
    border-left: solid black 1px;
}

.stocks_table_row:nth-child(even), .stocks_table_row_empty:nth-child(even),
.invested_table_row:nth-child(even), .invested_table_row_empty:nth-child(even) {
    background-color: #eeeeee;
}

.stocks_table_row:hover, .sibling_highlight {
    color: #008ae6;
    cursor: pointer;
    background-color: #e3e3e3 !important;
}

.stocks_table_row:hover > .stock_positive, .stocks_table_row:hover > .stock_negative,
.sibling_highlight > .stock_positive, .sibling_highlight > .stock_negative {
    color: #008ae6;
}

.stocks_table_data, .invested_table_data {
    border-top: solid black 1px;
}

.stocks_table_data:not(:last-child), .invested_table_data:not(:last-child) {
    border-right: solid black 1px;
}

#designer_box {
    border: solid black 1px;
}

#progress_box {
    border: solid black 1px;
}

.ocean_life_bar {
    border: solid black 1px;
}

.ocean_life_bar_filled {
    background-color: #aaaaaa;
}