/* links */
.link {
    color: #0066ff;
}

.link:hover {
    color: #0099ff;
}

/* buttons */
button {
    background-color: white;
    border: 1px solid black;
    color: black;
}

button:hover {
    background-color: #eeeeee;
}

button:disabled {
    background-color: #eeeeee;
}

/* history panel */
#history_panel {
    border-bottom: 1px solid black;
}

/* resource counters */
.counter_break {
    border: solid #aaaaaa 0.5px;
}

.before {
    border: solid black 1px;
}

div.before:before {
    background: white;
}

.counter_header {
    border: none;
}

/* resource buttons */
#river_troll_text {
    background: white;
}

.situation:disabled {
    color: black;
    background-color: white;
}

/* about/settings popup */
#overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#popup {
    background-color: white;
    color: black;
    border: solid black 1px;
}

.divider {
    border: solid black 0.5px;
}