/* body */
body {
    font-family: "Consolas", "Times New Roman", serif;
    font-size: 11pt;
    margin-top: 5px;
}

/* links */
.link {
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

/* buttons */
button {
    font-family: "Consolas", "Times New Roman", serif;
    font-size: 10pt;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.button {
    margin: 5px;
}

.button_header {
    font-size: 11pt;
}

.button_header_title {
    font-weight: bolder;
}

.horizontal_button {
    width: 333px;
    height: 80px;
}

.worker_count {
    text-align: center;
    position: relative;
    top: 10px;
}

.worker_button {
    width: auto;
    height: auto;
    padding: 2px 5px;
    margin: 2px;
    position: relative;
    top: -8px;
    margin-bottom: 0px;
}

.worker_buttons_left {
    margin-right: 10px;
}

.worker_buttons_right {
    margin-left: 10px;
}

/* containers */
#right {
    margin-left: 1100px;
    width: 50px;
}

.container {
    width: 100%;
    height: 100%;
}

.left {
    width: 50%;
    float: left;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 95%;
    text-align: center;
    padding-bottom: 1%;
}

/* history panel */
#history_panel {
    margin-bottom: 15px;
    width: 1056px;
}

.history {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre;
}

/* resource counters */
#resource_counters {
    float: left;
}

#bait_counters, #tackle_counters, #boat_counters {
    margin-left: 187px;
    display: block;
    width: 168px;
    top: 3px;
}

#below_messages {
    height: 46px;
    margin-bottom: 5px;
}

#fish_counters {
    left: 5px;
    top: 160px;
    position: absolute;
    width: 168px;
}

#workers_counter {
    margin: 4px 0px 7px 0px;
}

#fish_meta {
    padding: 0;
}

.value {
    padding: 0px 7px;
}

.auto_buy {
    opacity: 0.4;
}

.counter_break {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10%;
    width: 80%;
}

.before {
    display: block;
    padding: 3px;
    position: relative;
    margin-bottom: 5px;
}

div.before:before {
    position: absolute;
    content: attr(display);
    left: 5px;
    top: -13px;
    padding: 0px 2px;
}

.counter_header {
    font-size: 10pt;
    text-align: center;
}

/* right side of the container of the left side 
of the container of the body :^) */
/* resource buttons & area selector */
#resource_buttons {
    margin-left: 378px;
    position: absolute;
    top: 160px;
}

#area_selector {
    margin-left: 906px;
    position: absolute;
    top: 160px;
}

#above_section {
    margin: -5px;
}

#art {
    position: absolute;
    margin-left: 170px;
    white-space: pre;
}

#river_troll_text {
    position: relative;
    font-size: 10pt;
    white-space: normal;
    top: -350px;
    left: 175px;
    width: 160px;
}

#river_troll_outline {
    position: relative;
    top: -439px;
    left: 123px;
}

#news_section {
    position: relative;
    margin: 5px 0px 5px 0px;
}

#news_container {
    position: absolute;
    overflow: hidden;
}

#news_section, #news_container {
    height: 32px;
}

#management_section {
    width: 150px;
}

#opportunities_button {
    position: absolute;
    margin-top: 5px;
    left: 364px;
}

#morality_section {
    position: absolute;
    margin: 3px 0px 0px 6px;
}

#morality_header {
    text-align: center;
}

#opportunities_section {
    margin: 50px 0px 0px 3px;
}

#opportunity_end_button {
    margin-top: 55px;
}

#continue_button {
    margin-left: 178px;
}

#no_investments {
    margin: 7px 7px;
    white-space: nowrap;
    font-size: 10pt;
    text-align: center;
}

@keyframes scrolling_text {
    0% { left: 100%; }
    100% { left: -150%; }
}

#news_text {
    position: absolute;
    text-align: left;
    white-space: nowrap;
    margin: 7px 0px 0px 0px;
    animation: scrolling_text 15s linear;
}

.section {
    margin-top: 20px;
    display: inline-block;
}

.section_span {
    width: 506px;
}

.section_center {
    position: absolute;
    margin-left: 5px;
}

.section_right {
    position: absolute;
    margin-left: 179px;
}

.section_top {
    width: 343px;
}

.section_bottom {
    width: 200px;
}

.business_button {
    margin: 5px 0px 15px 5px;
}

.situation {
    margin-left: 87px;
    cursor: default;
}

.situation:disabled {
    opacity: 1.0;
}

.connecter {
    white-space: pre;
    margin-left: 120px;
}

.connecter_bottom {
    position: absolute;
    margin-top: 109px;
}

.choice {
    width: 243px;
    height: 100px;
}

.choice_left {
    float: left;
}

.choice_right {
    float: right;
}

.no_sale {
    margin: 7px 12px;
    white-space: nowrap;
}

/* about/settings popup */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

#popup {
    position: absolute;
    top: 37%;
    left: 37%;
    width: 400px;
    height: 270px;
    padding: 0px 20px;
}

#close_button {
    margin-top: 10px;
    bottom: 5px;
}

p#save_intervals {
    margin: 0px;
    text-align: center;
}

#settings_div {
    text-align: left;
}

.centered {
    text-align: center;
}