/* body */
body {
    font-family: "Consolas", "Times New Roman", serif;
    font-size: 11pt;
    margin-top: 5px;
}

/* links */
.link {
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

/* buttons */
button {
    font-family: "Consolas", "Times New Roman", serif;
    font-size: 10pt;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.worker_count {
    text-align: center;
    position: relative;
    top: 10px;
}

.worker_button {
    width: auto;
    height: auto;
    padding: 2px 5px;
    margin: 2px;
    position: relative;
    top: -8px;
    margin-bottom: 0px;
}

.worker_buttons_left {
    margin-right: 10px;
}

.worker_buttons_right {
    margin-left: 10px;
}

/* containers */
#right {
    margin-left: 1100px;
    width: 50px;
}

.container {
    width: 100%;
    height: 100%;
}

.left {
    width: 50%;
    float: left;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 95%;
    text-align: center;
    padding-bottom: 1%;
}

/* history panel */
#history_panel {
    margin-bottom: 15px;
}

.history {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre;
}

/* resource counters */
#resource_counters {
    float: left;
}

#bait_counters, #tackle_counters, #boat_counters {
    margin-left: 187px;
    display: block;
    width: 168px;
    top: 3px;
}

#fish_counters {
    left: 5px;
    top: 160px;
    position: absolute;
    width: 168px;
}

.value {
    padding: 0px 7px;
}

.auto_buy {
    opacity: 0.4;
}

.counter_break {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10%;
    width: 80%;
}

.before {
    display: block;
    padding: 3px;
    position: relative;
    margin-bottom: 5px;
}

div.before:before {
    position: absolute;
    content: attr(display);
    left: 5px;
    top: -13px;
    padding: 0px 2px;
}

.counter_header {
    font-size: 10pt;
    text-align: center;
}

/* right side of the container of the left side 
of the container of the body :^) */
/* resource buttons & area selector */
#resource_buttons {
    margin-left: 378px;
    position: absolute;
    top: 160px;
}

#area_selector {
    margin-left: 906px;
    position: absolute;
    top: 160px;
}

#above_section {
    margin: -5px;
}

#art {
    position: absolute;
    margin-left: 170px;
    white-space: pre;
}

#river_troll_text {
    position: relative;
    font-size: 10pt;
    white-space: normal;
    top: -350px;
    left: 175px;
    width: 160px;
}

#river_troll_outline {
    position: relative;
    top: -439px;
    left: 123px;
}

#management_section {
    width: 150px;
}

#advisor_button {
    position: absolute;
    top: -20px;
    margin-left: 215px;
}

#no_investments {
    margin: 7px 7px;
    white-space: nowrap;
    font-size: 10pt;
}

.button {
    margin: 5px;
}

.section {
    margin-top: 20px;
    display: inline-block;
}

.section_center {
    position: absolute;
    margin-left: 5px;
}

.section_right {
    position: absolute;
    margin-left: 179px;
}

.no_sale {
    margin: 7px 12px;
    white-space: nowrap;
}

/* about/settings popup */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

#popup {
    position: absolute;
    top: 37%;
    left: 37%;
    width: 400px;
    height: 270px;
    padding: 0px 20px;
}

#header {
    text-align: center;
}

#close_button {
    margin-top: 10px;
    margin-left: 30%;
    bottom: 5px;
}

p#save_intervals {
    margin: 0px;
    text-align: center;
}