/* body */
body {
    font-family: "Consolas", "Times New Roman", serif;
    font-size: 11pt;
    margin-top: 5px;
}

/* links */
.link {
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

/* buttons */
button {
    font-family: "Consolas", "Times New Roman", serif;
    font-size: 10pt;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.button {
    margin: 5px;
}

.button_header {
    font-size: 11pt;
}

.button_header_title {
    font-weight: bolder;
}

.horizontal_button {
    width: 333px;
    height: 80px;
}

.worker_count {
    text-align: center;
    position: relative;
    top: 10px;
}

.worker_button {
    width: auto;
    height: auto;
    padding: 2px 5px;
    margin: 2px;
    position: relative;
    top: -8px;
    margin-bottom: 0px;
}

.worker_buttons_left {
    margin-right: 10px;
}

.worker_buttons_right {
    margin-left: 10px;
}

/* containers */
#right {
    margin-left: 1100px;
    width: 50px;
}

#left {
    width: 1056px;
    float: left;
}

.bottom {
    position: fixed;
    width: 98%;
    bottom: 15px;
    text-align: center;
}

/* history panel */
#history_panel {
    margin-bottom: 15px;
    width: 1056px;
}

.history {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre;
}

/* resource counters */
#time_display {
    position: absolute;
    top: 105px;
    left: 974px;
    text-align: right;
}

#time_counter {
    text-align: center;
}

#resource_counters {
    float: left;
}

#bait_counters, #tackle_counters, #boat_counters {
    margin-left: 187px;
    display: block;
    width: 168px;
    top: 3px;
}

#below_messages {
    height: 46px;
    margin-bottom: 5px;
}

#fish_counters {
    left: 5px;
    top: 160px;
    position: absolute;
    width: 168px;
}

#workers_counter {
    margin: 4px 0px 7px 0px;
}

#fish_meta {
    padding: 0;
}

.value {
    padding: 0px 7px;
}

.auto_buy {
    opacity: 0.4;
}

.counter_break {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10%;
    width: 80%;
}

.before {
    display: block;
    padding: 3px;
    position: relative;
    margin-bottom: 5px;
}

div.before:before {
    position: absolute;
    content: attr(display);
    left: 5px;
    top: -13px;
    padding: 0px 2px;
}

.counter_header {
    font-size: 10pt;
    text-align: center;
}

/* right side of the container of the left side 
of the container of the body :^) */
/* resource buttons & area selector */
#resource_buttons {
    margin-left: 378px;
    position: absolute;
    top: 160px;
}

#area_selector {
    margin-left: 906px;
    position: absolute;
    top: 160px;
}

#above_section {
    margin: -5px;
}

#art {
    position: absolute;
    margin-left: 170px;
    white-space: pre;
}

#river_troll_text {
    position: relative;
    font-size: 10pt;
    white-space: normal;
    top: -350px;
    left: 175px;
    width: 160px;
}

#river_troll_outline {
    position: relative;
    top: -439px;
    left: 123px;
}

#news_section {
    position: relative;
    margin: 5px 0px 5px 0px;
}

#news_container {
    position: absolute;
    overflow: hidden;
}

#news_section, #news_container {
    height: 32px;
}

#management_section {
    width: 150px;
}

#investments_section {
    position: absolute;
    top: 100px;
    height: 450px;
}

#opportunities_button {
    position: absolute;
    margin-top: 5px;
    left: 364px;
}

#morality_section {
    position: absolute;
    margin: 3px 0px 0px 6px;
}

#morality_header {
    text-align: center;
}

#opportunities_section {
    margin: 50px 0px 0px 3px;
}

#opportunity_end_button {
    margin-top: 55px;
}

#continue_button {
    margin-left: 178px;
}

#no_investments {
    margin: 7px 7px;
    white-space: nowrap;
    font-size: 10pt;
    text-align: center;
}

@keyframes scrolling_text {
    0% { left: 100%; }
    100% { left: -150%; }
}

#news_text {
    position: absolute;
    text-align: left;
    white-space: nowrap;
    margin: 7px 0px 0px 0px;
    animation: scrolling_text 15s linear;
}

.section {
    margin-top: 20px;
    display: inline-block;
}

.section_span {
    width: 506px;
}

.section_center {
    margin-left: 5px;
}

.section_right {
    position: absolute;
    margin-left: 5px; /* 179px */
}

.section_top {
    width: 343px;
}

.section_bottom {
    width: 200px;
}

.business_button {
    margin: 5px 0px 15px 5px;
}

.situation {
    margin-left: 87px;
    cursor: default;
}

.situation:disabled {
    opacity: 1.0;
}

.connecter {
    white-space: pre;
    margin-left: 120px;
}

.connecter_bottom {
    position: absolute;
    margin-top: 109px;
}

.choice {
    width: 243px;
    height: 100px;
}

.choice_left {
    float: left;
}

.choice_right {
    float: right;
}

.no_sale {
    margin: 7px 12px;
    white-space: nowrap;
}

/* popups (modals) */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

#popup, #catalog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 270px;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
}

#catalog {
    width: 800px;
    height: 800px;
}

#catalog_next_button {
    left: 85%;
}

#catalog_previous_button {
    left: 15%;
}

#catalog_left, #catalog_right {
    position: absolute;
    margin: 10px 20px 10px 20px;
    width: 360px;
    height: 725px;
}

#catalog_right {
    left: 50%;
}

p#save_intervals {
    margin: 0px;
    text-align: center;
}

#settings_div {
    text-align: left;
}

.popup_button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.pre {
    white-space: pre;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.vertical_center {
    position: absolute;
    top: 50%;
    width: inherit;
    transform: translateY(-50%);
    margin: 0px;
}

.page_divider {
    position: fixed;
    left: 50%;
    height: 724px;
    margin-top: 10px;
}

.table_divider {
    display: inline-block;
    left: 215px;
    height: 105px;
    width: 0px;
    margin: 0px 5px 0px 5px;
}

.table_divider_short {
    height: 80px;
}

.divider_bottom {
    margin-bottom: 10px;
}

.area_divider {
    margin: 10px 0px 20px 0px;
}

.area_catalog_art {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fish_catalog_art {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fish_title {
    margin-top: 185px;
}

.catalog_return {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.catalog_return_link {
    margin: 5px 0px;
}

.catalog_bottom_art {
    position: absolute;
    top: 605px;
}

.index_section {
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 360px;
}

.index_section {
    width: 140px;
    margin-bottom: 35px;
}

.index_header, .catalog_title {
    margin-bottom: 5px;
}

.index_list {
    margin: 0px;
    padding: 0px 0px 0px 27px;
}

.align_top {
    vertical-align: top;
}

.fish_table_section {
    display: inline-block;
    width: 170px;
    vertical-align: top;
    margin-bottom: 15px;
}

.fish_table_section:nth-child(even) {
    margin-left: 10px;
}

.fish_table {
    border-collapse: collapse;
    text-align: center;
    width: 170px;
}

.fish_nothing {
    margin: 0px;
}

.fish_table_title {
    width: 170px;
    margin: 0px 0px 10px 0px;
}

.fish_table_data {
    padding: 5px 5px;
}

.fish_table_data:first-child {
    width: 97px;
}

/* worm game */
#worm_game_background {
    position: absolute;
    top: 0px;
    left: 160px;
    width: 358px;
    height: 408px;
}

.worm_spawn {
    position: absolute;
    cursor: pointer;
    font-size: 4pt;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* floating text */
@keyframes floating_text {
    0% { margin-top: 0px; }
    100% { margin-top: -20px; }
}

.floater {
    position: absolute;
    animation: floating_text linear 0.4s;
}

/* enterprises */
.desk_section {
    position: absolute;
    top: 153px;
    left: 50px;
    width: 313px;
    height: 200px;
}

#header_section {
    left: 379px;
    height: 40px;
}

#office_button {
    width: 100%;
}

#balance_header {
    top: 50px;
    left: 0px;
    text-align: center;
    font-weight: bold;
    height: auto;
}

#balance_counter {
    top: 70px;
    left: 0px;
    text-align: center;
    height: auto;
}

#designer_art {
    position: absolute;
    top: -16px;
}

#designer_content {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 275px;
    height: 175px;
}

#designer_header {
    margin-bottom: 5px;
    font-weight: bold;
}

#designer_button {
    margin-top: 7px;
    width: 200px;
    height: 30px;
}

#research_section {
    top: 384px;
    left: 49px;
    width: 308px;
    height: 462px;
}

#research_header {
    position: absolute;
    margin-top: 15px;
    left: 10%;
    width: 80%;
}

#research_content {
    position: absolute;
    top: 73px;
}

#research_theories {
    margin: 15px 0px 0px 15px;
}

#enterprise_investments_section {
    top: 255px;
    left: 379px;
    height: 393px;
    width: 307px;
}

.enterprise_investment {
    margin: 6px 6px 0px 6px;
    height: 123px;
    width: 295px;
}

#payroll_section {
    top: 681px;
    left: 379px;
    height: 165px;
    width: 307px;
}

#payroll_content {
    position: absolute;
    margin-top: 8px;
    width: 90%;
    left: 5%;
}

#payroll_header {
    margin-bottom: 5px;
}

#payroll_efficiency {
    margin-top: 15px;
    text-align: center;
}

#worker_edit_button {
    position: absolute;
    margin-top: 15px;
    top: 106px;
    left: 15px;
    width: 280px;
}

.payroll_left {
    display: inline-block;
    width: 120px;
}

.payroll_right {
    float: right;
    top: 0px;
}

.payroll_margin {
    margin-bottom: 5px;
}

.payroll_button:nth-child(odd) {
    left: 160px;
}

#newspaper_section {
    top: 137px;
    left: 708px;
    height: 400px;
}

#newspaper_content {
    position: absolute;
    top: 20px;
    left: 36px;
    height: 340px;
    width: 275px;
}

#newspaper_header {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#market_share_section, #insignificant_news_section {
    position: absolute;
    display: inline-block;
    top: 26px;
    width: 130px;
    height: 311px;
}

#insignificant_news_section {
    left: 145px;
}

#news_divider {
    position: absolute;
    top: 26px;
    left: 50%;
    height: 310px;
}

#stocks_section {
    top: 549px;
    left: 708px;
    width: 307px;
    height: 297px;
}

#stocks_content {
    position: absolute;
    top: 5px;
    left: 10%;
    width: 80%;
}

#stocks_display {
    position: absolute;
    left: 10%;
    width: 80%;
}

#view_portfolio_button {
    position: absolute;
    top: 253px;
    left: 10px;
    width: 293px;
}

.stock_item {
    margin-top: 3px;
    margin-bottom: 3px;
}

.progress {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 0%;
    z-index: -1;
    opacity: 0.4;
    background-color: black;
    height: 123px;
}

#no_projects, #enterprise_no_investments {
    margin-top: 3px;
    width: 307px;
    text-align: center;
}

/* enterprises */
#office_desk {
    position: absolute;
    top: 421px;
    left: 463px;
}

#office_chair {
    position: absolute;
    top: 354px;
    left: 624px;
}

#office_computer {
    position: absolute;
    top: 404px;
    left: 479px;   
}

.pointer {
    cursor: pointer;
}

/* earth defender */
#earth_defender_section {
    position: absolute;
    left: 248px;
    width: 560px;
    height: 708px;
}

#earth_defender_content {
    position: absolute;
    top: 30px;
    left: 5%;
    width: 90%;
}

#earth_defender_header {
    position: absolute;
    left: 50px;
}

#play_earth_defender_button, #earth_defender_tutorial_button, #exit_earth_defender_button {
    position: relative;
    top: 250px;
    width: 50%;
    left: 25%;
}

#earth_defender_hiscores {
    position: absolute;
    top: 460px;
    width: 70%;
    left: 15%;
}

#earth_defender_scores_left {
    position: absolute;
    top: 485px;
    left: 150px;
}

#earth_defender_scores_right {
    position: absolute;
    top: 485px;
    left: 300px;
    text-align: right;
}

#tutorial_section {
    position: absolute;
    top: 15px;
    left: 5%;
    width: 90%;
}

#tutorial_art {
    position: absolute;
    left: 63px;
}

#movement_description {
    display: inline-block;
    margin: 15px 0px 5px 123px;
    width: 50%;
}

#tutorial_moving_alien, #tutorial_shooting_alien {
    padding: 5px 3px;
}

#moving_alien_description {
    margin-bottom: 0px;
}

#tutorial_shooting_alien {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100px;
}

#shooting_alien_description {
    margin: 35px 0px 50px 175px;
}

#shooting_alien_lasers {
    position: absolute;
    top: 40px;
}

#tutorial_main_menu_button {
    position: absolute;
    top: 650px;
    left: 30%;
    width: 40%;
    height: 35px;
}

.tutorial_paragraph {
    margin: 5px 0px;
}

.tutorial_section_end {
    margin-bottom: 70px;
}

.tutorial_header {
    margin-bottom: 10px;
}

.tutorial_misc {
    display: inline-block;
    vertical-align: top;
    width: 240px;
}

.misc_description {
    margin-top: 5px;
}

#points, #quit_game_button, #lives {
    display: inline-block;
    margin: 10px;
}

#quit_game_button {
    position: absolute;
    width: 30%;
    left: 35%;
    height: 27px;
    margin: 5px;
}

#game_section {
    width: 550px;
    height: 660px;
    margin: 5px;
}

#lives {
    float: right;
}

#player, .laser, .enemy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 33px;
}

#player {
    top: 650px;
}

#level_display, #game_over_text {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#game_over_text {
    margin-top: 20px;
}

#total_score_header {
    position: absolute;
    top: 300px;
    left: 30%;
    width: 40%;
}

#total_score {
    position: absolute;
    top: 325px;
    width: 100%;
}

#earth_defender_main_menu_button {
    position: absolute;
    top: 500px;
    left: 35%;
    width: 30%;
}

.enemy {
    font-size: 9pt;
}

.level_number {
    width: 60px;
}

.hiscore {
    margin-bottom: 5px;
}

.right {
    float: right;
}

/* stocks */
#available_stocks, #available_stocks_right {
    width: 330px;
    border-collapse: collapse;
}

#available_stocks_right {
    position: absolute;
    top: 106px;
    left: 348px;
}

#no_stock_selected, #selected_stock_name, #stocks_balance {
    margin-top: 5px;
}

#stocks_desk_button, #stocks_portfolio {
    position: absolute;
    top: 106px;
    left: 699px;
    width: 365px;
    height: 35px;
}

#stocks_portfolio {
    top: 153px;
    height: 700px;
}

#stocks_income {
    margin: 5px 0px 15px 0px;
}

#invested_stocks_table {
    border-collapse: collapse;
    margin-top: 10px;
}

#portfolio_divider {
    position: absolute;
    top: 113px;
    left: 689px;
    height: 750px;
}

#selected_stock {
    width: 670px;
}

#selected_stock_buttons_section {
    margin-top: 7px;
    width: 200px;
}

#stock_buy_header, #stock_sell_header {
    margin-top: 9px;
}

#stocks_divider {
    position: absolute;
    top: 655px;
    left: 219px;
    height: 208px;
}

#selected_graph_section {
    position: absolute;
    top: 648px;
    left: 230px;
    width: 448px;
    height: 216px;
}

#graph_vertical_divider {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 144px;
}

#graph_horizontal_divider {
    position: absolute;
    top: 174px;
    left: 30px;
    width: 416px;
}

.stocks_table_header {
    width: 82px;
}

.stocks_table_data, .invested_table_data {
    height: 17px;
    width: 82px;
    padding: 3px 10px;
}

.invested_table_header, .invested_table_data {
    width: 91px;
}

.stock_purchase_button {
    width: 200px;
    height: 25px;
    margin: 5px 0px 0px 0px;
}

.stock_positive {
    color: #29a329;
}

.stock_negative {
    color: #cc0000;
}

#payroll_back_to_desk_button {
    width: 100%;
    margin-bottom: 0px;
}

#remaining_payroll, #payroll_income {
    margin: 10px 0px;
}

#payroll_section_left {
    display: inline-block;
    vertical-align: top;
    width: 38%;
}

#payroll_section_right {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    width: 59%;
}

#efficiency_header {
    margin-top: 14px;
}

.payroll_divider {
    position: relative;
    margin-left: 10%;
    width: 80%;
}

.payroll_list {
    text-align: right;
    margin: 6px 0px 12px 0px;
}

.payroll_button {
    text-align: center;
    width: auto;
    height: auto;
    margin: 5px 2px;
}

.payroll_button_right {
    margin-left: 36px;
}

.payroll_percent {
    position: absolute;
    text-align: center;
    width: 34px;
    margin: 6px 0px;
}

.worker_divider {
    position: absolute;
    top: 120px;
    left: 330px;
    width: 0px;
    height: 715px;
}

#worker_section {
    position: absolute;
    left: 341px;
    top: 110px;
}

#pacific_label_1, #pacific_label_2, #atlantic_label_1, #atlantic_label_2, #indian_label {
    position: absolute;
    text-align: center;
    width: 75px;
}

#pacific_label_1 {
    top: 275px;
    left: 25px;
}

#pacific_label_2 {
    top: 150px;
    left: 690px;
}

#atlantic_label_1 {
    top: 125px;
    left: 200px;
}

#atlantic_label_2 {
    top: 280px;
    left: 240px;
}

#indian_label {
    top: 300px;
    left: 480px;
}

#worker_background_divider {
    margin: 10px 0px;
}

#ocean_remaining_workers_count {
    position: absolute;
    left: 20%;
    width: 60%;
}

.ocean_section {
    position: absolute;
    top: 425px;
    width: 230px;
}

.ocean_section_bottom {
    top: 580px;
}

.ocean_info_content {
    margin: 5px 0px 0px 1px;
}

.ocean_worker_count {
    display: inline-block;
    margin-right: 5px;
}

.ocean_workers_count_text {
    position: absolute;
    top: 30px;
    left: 131px;
    width: 41px;
}

.ocean_button_right {
    margin-left: 47px;
}

.ocean_button_end {
    margin-right: 0px;
}

.ocean_life_level {
    margin-top: 5px;
}

.ocean_life_bar {
    position: absolute;
    width: 30px;
    height: 50px;
}

.life_level_text {
    margin-top: 60px;
}

#designer_back_to_office_button, #designer_box {
    position: absolute;
    left: 230px;
    width: 612px;
    height: 35px;
}

#heads_section, #tails_section {
    position: absolute;
    top: 86px;
    width: 200px;
    height: 443px;
}

#designer_box {
    top: 155px;
    height: 400px;
    width: 610px;
}

#tails_section {
    left: 856px;
}

#body_section, #fins_section {
    position: absolute;
    top: 551px;
    width: 513px;
    height: 150px;
}

#fins_section {
    left: 543px;
}

#progress_divider {
    position: absolute;
    left: 5%;
    width: 90%;
}

#progress_text {
    margin: 10px 0px;
    font-size: 16pt;
}

.newspaper_content {
    text-align: left;
    font-size: 8pt;
}