<div class="modal-container flex flex-centered">
    <div id="about-modal" class="modal flex flex-column">
        <h2 class="modal-header centered bold border-bottom">About</h2>
        <div id="about-modal-description">
            <p>
                Fishing Enterprises was developed by myself, Joshua Sperry, to scratch the itch of an expansive idle game.
                It was inspired by
                <a href="https://candybox2.github.io/" target="_blank">Candy Box 2</a>,
                <a href="http://adarkroom.doublespeakgames.com/" target="_blank">A Dark Room</a>
                and
                <a href="https://www.decisionproblem.com/paperclips/" target="_blank">Universal Paperclips</a>.
            </p>
            <p>
                The game is written in
                <a href="https://www.javascript.com/" target="_blank">Javascript</a>
                with
                <a href="https://jquery.com/" target="_blank">jQuery</a>
                and the source code is freely available to
                <a href="https://github.com/mrsperry/mrsperry.github.io" target="_blank">view on Github</a>.
            </p>
        </div>
        <button class="modal-close" onclick="Modules.clearModal();">Close</button>
    </div>
</div>