<div id="main-menu-container" class="flex flex-column flex-align-center">
    <img id="main-menu-logo" src="src/images/banner-light.png">
    <h1 id="main-menu-header" class="centered bold border-bottom">Fishing Enterprises</h1>
    <div class="flex flex-column">
        <button onclick="Main.startGame();">Start Game</button>
        <button onclick="">Load Game</button>
        <button onclick="">Settings</button>
        <button onclick="">Achievements</button>
        <button onclick="">About</button>
        <button onclick="">More Games</button>
    </div>
</div>