#footer {
    position: fixed;
    font-size: 1em;
    bottom: 1em;
}

#footer > a {
    padding: 0em 1em;
    border-right: 1px solid var(--border-color);
}

#footer > a:last-child {
    border-right: none;
}