/* Global font */
* {
    font-family: "Consolas", monospace;
}

/* Remove body margins & fill the entire screen */
body {
    font-size: 11pt;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

/* Main sections of the screen */
#top-section, #middle-section, #bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#bottom-section {
    position: fixed;
    bottom: 0%;
    padding-bottom: 15px;
}

/* Message history */
#message-history {
    width: 1075px;
}

.message-history {
    white-space: pre;
    margin-bottom: 2px;
}

/* Main content area */
#content {
    width: 1075px;
    height: 100%;
    padding-top: 10px;
}

/* Button styles */
button {
    font-size: 10pt;
    display: block;
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}

button:disabled, .disabled {
    opacity: 0.4;
    cursor: default;
}

.button-header-bold {
    font-weight: bold;
}

/* Line breaks */
.line-break, .counter-break {
    height: 0px;
    width: 80%;
    margin-left: 10%;
}

/* Links */
a, .link {
    color: #0066ff;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .link:hover {
    color: #0099ff;
}

/* Modals */
.modal, .modal-background, .modal-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.modal-background, .achievement-hidden {
    opacity: 0.6;
    background-color: #000000;
}

/* Floater text */
.floater {
    position: absolute;
    cursor: default;
    pointer-events: none;
}

/* Achievements */
.achievement, .achievement-art, .achievement-text, .achievement-display {
    height: 100px;
}

.achievement {
    position: fixed;
    z-index: 1;
    top: -100px;
    right: 0px;
    width: 300px;
}

.achievement-art {
    font-size: 7pt;
    width: 100px;
}

.achievement-text, .achievement-display {
    width: 200px;
}

.achievement-title {
    width: 80%;
    padding-top: 10px;
    margin: 0px 0px 5px 10%;
}

#achievement-holder {
    width: 450px;
    height: 244px;
}

.achievement-display {
    margin: 10px;
}

.achievement-header-item {
    width: 100px;
}

.achievement-header-item:first-child {
    text-align: right;
}

/* Misc generic styles */
.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.inline {
    display: inline;
}

.right {
    float: right;
}

/* Misc text styles */
.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.pre {
    white-space: pre;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}