/* Global font */
* {
    font-family: "Consolas", monospace;
    font-size: 11pt;
}

/* Remove body margins & fill the entire screen */
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

/* Main sections of the screen */
#top-section, #middle-section #bottom-section {
    width: 100%;
}

/* Used for text logging */
#top-section {
    height: 12%;
}

/* Used for content displays */
#middle-section {
    height: 85%;
}

/* Used as the footer */
#bottom-section {
    height: 3%;
    display: flex;
    justify-content: center;
}

/* Main content area */
#content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

/* Button styles */
button {
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
}

button:hover {
    background-color: #eeeeee;
}

.button-header-bold {
    font-weight: bold;
}

/* Line breaks */
.line-break {
    border: 0.5px solid #000000;
    height: 0px;
    width: 80%;
    margin-left: 10%;
}

/* Links */
a, .link {
    color: #0066ff;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .link:hover {
    color: #0099ff;
}

/* Modals */
.modal, .modal-background, .modal-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.modal-background {
    opacity: 0.6;
    background-color: #000000;
}

.modal-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    border: 1px solid #000000;
    background-color: #ffffff;
}

/* Misc text styles */
.bold {
    font-weight: bold;
}