/* Global font */
* {
    font-family: "Consolas", monospace;
}

/* Remove body margins & fill the entire screen */
body {
    font-size: 11pt;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

/* Main sections of the screen */
#top-section, #middle-section, #bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#bottom-section {
    position: fixed;
    bottom: 0%;
    padding-bottom: 15px;
}

/* Message history */
#message-history {
    width: 1075px;
}

.message-history {
    white-space: pre;
    margin-bottom: 2px;
}

/* Main content area */
#content {
    width: 1075px;
    height: 100%;
    padding-top: 10px;
}

/* Button styles */
button {
    font-size: 10pt;
    display: block;
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.button-header-bold {
    font-weight: bold;
}

/* Line breaks */
.line-break, .counter-break {
    height: 0px;
    width: 80%;
    margin-left: 10%;
}

/* Links */
a, .link {
    color: #0066ff;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .link:hover {
    color: #0099ff;
}

/* Modals */
.modal, .modal-background, .modal-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.modal-background {
    opacity: 0.6;
    background-color: #000000;
}

/* Floater text */
.floater {
    position: absolute;
    cursor: default;
    pointer-events: none;
}

/* Misc generic styles */
.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

/* Misc text styles */
.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}