<div id="area-selector" class="flex flex-column">
    <button id="shop-selector">Shop</button>
    <div class="selector-break"></div>
    <button id="lake-selector">Lake</button>
    <button id="river-selector">River</button>
    <button id="pier-selector">Pier</button>
    <button id="reef-selector">Reef</button>
    <button id="spear-fishing-selector">Spear Fishing</button>
    <button id="deep-sea-selector">Deep Sea</button>
    <div class="selector-break"></div>
    <button id="catalog-selector">Catalog</button>
</div>