<div id="area-selector" class="flex flex-column">
    <button id="shop-selector">Shop</button>
    <div class="selector-break"></div>
    <button id="lake-selector" onclick="Areas.switchTo('lake');">Lake</button>
    <button id="river-selector" onclick="Areas.switchTo('river');">River</button>
    <button id="pier-selector" onclick="Areas.switchTo('pier');">Pier</button>
    <button id="reef-selector" onclick="Areas.switchTo('reef');">Reef</button>
    <button id="spear-fishing-selector" onclick="Areas.switchTo('spear-fishing');">Spear Fishing</button>
    <button id="deep-sea-selector" onclick="Areas.switchTo('deep-sea');">Deep Sea</button>
    <div class="selector-break"></div>
    <button id="catalog-selector">Catalog</button>
</div>