<div id="fishing-counters" class="flex">
    <div id="fishing-fish-counters" class="fishing-counter" header="Fish"></div>
    <div id="fishing-other-counters" class="flex flex-column">
        <div id="fishing-bait-counters" class="fishing-counter" header="Bait"></div>
        <div id="fishing-tackle-counters" class="fishing-counter" header="Tackle"></div>
        <div id="fishing-boat-counters" class="fishing-counter" header="Boat"></div>
    </div>
    <div id="fishing-content">
        <div id="fishing-content-art" class="pre"></div>
        <div id="fishing-content-buttons">
            <button id="cast-out-line-button" class="fishing-button" onclick="Fishing.toggleLine(true);">Cast out line</button>
            <button id="reel-in-line-button" class="fishing-button" onclick="Fishing.toggleLine(false);">Reel in line</button>
        </div>
    </div>
</div>