<div id="worm-game-grid" class="flex">
    <div id="worm-game-tile-1" class="worm-game-tile"></div>
    <div id="worm-game-tile-2" class="worm-game-tile"></div>
    <div id="worm-game-tile-3" class="worm-game-tile"></div>
    <div id="worm-game-tile-4" class="worm-game-tile"></div>
    <div id="worm-game-tile-5" class="worm-game-tile"></div>
    <div id="worm-game-tile-6" class="worm-game-tile"></div>
    <div id="worm-game-tile-7" class="worm-game-tile"></div>
    <div id="worm-game-tile-8" class="worm-game-tile"></div>
    <div id="worm-game-tile-9" class="worm-game-tile"></div>
</div>